![data-x](http://oi64.tinypic.com/o858n4.jpg) 
# Homework 0: Python Review

**Authors:** Arshi (2018s), Sana (2017f), Alex (2017s)

**Due date:** Tuesday Jan 23 2018, before lecture.

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. 

**For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).**

### Lists

Create an empty Python list called 'a' in the cell below.

In [1]:
a = [] #empty list

Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [4]:
i = 1
while(i<=100): 
    a.append(i)  #adding the number in the list
    i+=3         #increamenting by 3

Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [5]:
a2 = []
count = 2        #initializing count
while(count<=46):
    a2.append(count)  #adding the elements in the list
    count+=0.5

Double every even integer element from list 'a'. Store the results back in 'a'.

In [6]:
c =len(a)
for i in range(0, c):
    if(i%2!=0):       #if element is even i.e. odd index
        a[i]=a[i]*2   #multiplying by 2 
    i+=1

Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [7]:
d=0    
for i in range(0, c):  
    if(i!=1 and i!=20):   #checking for the condition
        d=d+a[i]
    i+=1

Calculate the mean of 'a'.

In [8]:
e=0
for i in range(0, c):
    e=e+a[i]         #addition of elements in list
mean=e/c             #finding the mean

### Strings

Create an empty list called 'b'.

In [9]:
b = []

Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [53]:
a = "I am so excited about Data-X. It is important to be able to work with data."
b = a.split( )  # split() function splits string by a space

Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [18]:
count = 0
length = len(b)
for i in range(0, length):   #running over the list
    for ch in b[i]:          #running over elements of the list
        if ch in ('e'):      #checking if the char is lower case 'e'
            count+=1         #if yes then increaming the count by 1
    i+=1
print(count)

4

Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [37]:
for i in range(0, length):
    b[i]=b[i].replace("i", "1")     #replacing 'i' with '1'
for i in range(0, length):
    b[i]=b[i].replace("I", "1")     #replacing 'I' with '1'

Append the string "This is the end of the first HW." to the list 'b'.

In [54]:
length=len(b)
b.append("This is the end of the first HW.") #adding the string.

Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [71]:
b="".join(b)
print(b[::-1])      #printing the string backwards

. W H   t s r i f   e h t   f o   d n e   e h t   s i   s i h T   . a t a d   h t i w   k r o w   o t   e l b a   e b   o t   t n a t r o p m i   s i   t I   . X - a t a D   t u o b a   d e t i c x e   o s   m a   I

### Dictionaries

Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [58]:
codes = {1001: 'Alpha', 1002:'Beta', 1003:'Gamma', 1004:'Delta', 1005:'Tau'}
for i in range(1001, 1006):
    codes[i]=codes[i].lower()   #making all the elements in lower case

Delete 'alpha' from the dictionary.

In [59]:
del codes[1001]

### Sets

Create a set called 'c' with the all the odd numbers less than 10.

In [64]:
c = {x for x in range(0,10) if x%2 != 0}  #creating a set of the odd number less than 10

Create another set called 'd' with elements 2, 5, 10, 30.

In [65]:
d = {2, 5, 10, 30}   #creating the set of the given elements

Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [66]:
c.union(d)         #finding union using union function

{1, 2, 3, 5, 7, 9, 10, 30}

Find the intersection between sets 'c' and 'd'.

In [67]:
c.intersection(d) #finding intersection using intersection function

{5}