# Homework 1

In this homework, you will get a chance to do some exercises with Numpy, Pandas, and Matplotlib to show us your understanding with this libraries. 

If you have questions, Google! Additionally you can ask your peers questions on Piazza and/or go to Office Hours.

This homework is due **Thursday Feb. 8th, 2018 at 11:59 PM**. Please upload your .ipynb to your private repo on Github. Additionally, submit a pdf on bCourses and in the comment section include a link to your private repo.

This homework is long, please start early!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## NumPy Basics

Create two numpy arrays (`a` and `b`). `a` should be all integers between 10-19 (inclusive), and `b` should be ten evenly spaced numbers between 1-7. Print the results below.

In [ ]:
a = 
b =

print("a: ", a)
print("b: ", b)

For `a` and `b` above do the follow and print out the results.

1. Square all the elements in both arrays (element-wise).  
2. Add both the squared arrays (e.g. [1,2] + [3,4] = [4,6]).  
3. Sum the elements with even indices of the added array.  
4. Take the square root of the added array (element-wise square root).

In [ ]:
print("1. ", )
print("2. ", )
print("3. ", )
print("4. ", )

Append `b` to `a`. Reshape the appended array so that it is a 5x4, 2D-array and store the results in a variable called `m`. Print `m`.

In [ ]:
m =

print("m: ", m)

Extract the second and the third column of the matrix `m`. Store the resulting 5x2 matrix in a new variable called `m2`. Print `m2`.

In [ ]:
m2 =

print("m2: ", m2)

Take the dot product of `m2` and `m` store the results in a matrix called `m3`. Print `m3`.
Note that dot product of two matrices $A\cdot B = A^T B$

In [ ]:
m3 =

print("m3: ", m3)

Round the `m3` matrix to two decimal points. Store the result in place and print the new `m3`.

In [ ]:
m3 =

print("m3: ", m3)

Sort the `m3` array so that the highest value is at the top left, the next highest value to the right of the highest, and the lowest value is at the bottom right. Print the sorted `m3` array.

In [ ]:
sorted_m3 =

print("sorted m3: ", sorted_m3)

## NumPy and Masks

Create an array called `f` where there are 100 equally-spaced values from 0 to pi, inclusive.
Take the sin of the array `f` (element-wise) and store that in place. Print `f`.

In [ ]:
f = 

print("f: ", f)

Use a 'mask' and print an array that is True when `f` >= 1/2 and False when `f` < 1/2.
Print an array sequence that has only those values where `f` >= 1/2.

## NumPy and 2 Variable Prediction

Let `x` be the number of miles a person drives per day and `y` be the dollars spent on buying car fuel per day.
  
We have created 2 numpy arrays each of size 100 that represent `x` and `y`.  
`x` (number of miles) ranges from 1 to 10 with a uniform noise of (0, 1/2).  
`y` (money spent in dollars) will be from 1 to 20 with a uniform noise (0, 1). 

Run the cell below.

In [ ]:
# seed the random number generator with a fixed value
np.random.seed(500)

x=np.linspace(1,10,100)+ np.random.uniform(low=0,high=.5,size=100) 
y=np.linspace(1,20,100)+ np.random.uniform(low=0,high=1,size=100)
print ('x = ',x)
print ('y= ',y)

Find the expected value of `x` and the expected value of `y`.

Find the variance for `x` and `y`.

Find the co-variance of `x` and `y`.

Assume that the number of dollars spent on car fuel is only linearly dependent on the miles driven.
Write code that uses a linear predictor to calculate a predicted value of `y` for each `x`.  

i.e. $y_{predicted} = f(x) = mx + b.$

In [ ]:
y_predicted =

Predict `y` for each value in `x`, put the error into an array called $y_{error}$.

In [ ]:
y_error =

Write code that calculates the root mean square error (RMSE).

In [ ]:
rmse =

## Pandas

### Reading a File

Read in a CSV file called 'data3.csv' into a dataframe called df.

Data description
* Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html
* Data, units
    * GDP, current USD (CPI adjusted)
    * NRI, mm/yr
    * Population density, inhab/km^2
    * Total area of the country, 1000 ha = 10km^2
    * Total Population, unit 1000 inhabitants

Display the first 10 lines of the dataframe.

In [ ]:
df =

Display the column names.

### Data Preprocessing

Create a mask of NAN values (i.e. apply `.isnull` on the dataframe). Inspect the mask for 'True' values, they denote NANs.  
*Hint: You will notice that the last 8 rows and the last column ('Other') have NAN values. You can also use df.tail() to see the last row.*

Remove the bottom 8 rows from the dataframe because they contain NAN values. Also remove the column 'Other'.

All the columns in our dataframe are not required for analysis. Drop these columns: `Area Id`, `Variable Id`, and `Symbol` and save the new dataframe as `df1`.

In [ ]:
df1 =

Display all the unique values in your new dataframe for these columns: `Area`, `Variable Name`, and `Year`.  

Note the Countries and the Metrics (ie.recorded variables) represented in your dataset.
*Hint: Use .unique( ) method.*

Convert the `Year` column string values to pandas datetime objects, where only the year is specified.  
*Hint: df1['Year'] = pd.to_datetime(pd.Series(df1['Year']).astype(int),format='%Y').dt.year*

Run df1.tail() to see part of the result.

### Extracting Statistics

Create a dataframe 'dftemp' to store rows where the `Area` is `Iceland`.

In [ ]:
dftemp =

Print the years when the National Rainfall Index (NRI) was `> 950` or `< 900` in Iceland using the dataframe you created in the previous question.

Get all the rows of df1 (from the preprocessed data section of this notebook) where the `Area` is `United States of America` and store that into a new dataframe called `df_usa`. Set the indices of the this dataframe to be the `Year` column.  
*Hint: Use .set_index()*

In [ ]:
df_usa =

Pivot the dataframe so that the unique `Variable Name` entries become the column entries. The dataframe values should be the ones in the `Value` column. Do this by running the lines of code below.

In [ ]:
df_usa=df_usa.pivot(columns='Variable Name',values='Value')
df_usa.head()

Rename the corresponding columns to ['GDP','NRI','PD','Area','Population'].

Print the output of `df_usa.isnull().sum()`. This gives us the number of NAN values in each column. Replace the NAN values by 0, using `df_usa=df_usa.fillna(0)`. Print the output of `df_usa.isnull().sum()` again.

In [ ]:
print("Number of NAN values before: ", )

print("Number of NAN values after: ", )

Calculate and print all the column averages and the column standard deviations.

Using the `df_usa` dataframe, multiply the `Area` by 10 (so instead of 1000 ha, the unit becomes 100 ha = 1km^2). Store the result in place.

Create a new column in `df_usa` called `GDP/capita` and populate it with the calculated GDP per capita. Round the results to two decimal points. Store the result in place.

Create a new column in `df_usa` called `PD2` (i.e. population density 2). Calculate the population density. **Note: the units should be inhab/km^2**. Round the reults to two decimal point. Store the result in place.

Find the maximum value and minimum value of the 'NRI' column in the USA (using pandas methods). What years do the min and max values occur in?

## Matplotlib

Create a dataframe called `icecream` that has column `Flavor` with entries `Strawberry`, `Vanilla`, and `Chocolate` and another column with `Price` with entries `3.50`, `3.00`, and `4.25`.

Create a bar chart representing the three flavors and their associated prices.

Create 9 random plots. The top three should be scatter plots (one with green dots, one with purple crosses, and one with blue triangles. The middle three graphs should be a line graph, a horizontal bar chart, and a histogram. The bottom three graphs should be trignometric functions (one sin, one cosine, one tangent).

## Extra Credit

Run the cell below to read in the data. See: https://www.quantshare.com/sa-43-10-ways-to-download-historical-stock-quotes-data-for-free

In [ ]:
df_google = pd.read_csv('https://finance.google.com/finance/historical?output=csv&q=goog')
df_apple = pd.read_csv('https://finance.google.com/finance/historical?output=csv&q=aapl')

df_disney = pd.read_csv('https://finance.google.com/finance/historical?output=csv&q=dis')
df_nike= pd.read_csv('https://finance.google.com/finance/historical?output=csv&q=nke')

df_apple.head()

Show a 3 x 3 correlation matrix for Nike, Apple, and Disney stock prices for the month of July, 2017.  

Hint: Convert `Date` to a pandas datetime object. 
Change the indices of all the dataframes to `Date`. Use `Date` indices to filter rows.
Create a new dataframe that stores values of the `Close` column from each dataframe.
Use the `Close` column of each company's stock data to find the correlation using df.corr().

Show the same correlation matrix but over different time periods.
1. the last 20 days  
2. the last 80 days

Change the code so that it accepts a list of any stock symbols (i.e. ['NKE', 'APPL', 'DIS', ... ]) and creates a correlation matrix for the past 100 days.